/*#region Stars Gradient Parameters*/
/*#endregion*/
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  /*-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
}
#outerWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#innerWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 15px;
}
#stars {
  height: 20000px;
  width: 100%;
  display: block;
  position: relative;
  /*#region Stars Gradient*/
  background-image: url('../assets/images/stars.png'), -moz-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -webkit-gradient(linear, left top, left bottom, color-stop(54%, #010c1e), color-stop(65%, #031433), color-stop(77%, #10274f), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background-image: url('../assets/images/stars.png'), -webkit-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -o-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -ms-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), linear-gradient(to bottom, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-position: top center;
  background-repeat: repeat;
  /*#endregion*/
  overflow: hidden;
}
#content {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
}
.wrap {
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
#earth {
  z-index: 10;
  width: 100vw;
  height: 10vh;
  background-color: forestgreen;
  position: absolute;
  bottom: 0;
}
#earthIntroMessage {
  position: absolute;
  z-index: 10;
  width: 80%;
  height: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#earthIntroMessage #earthIntroTitle {
  font-size: 2em;
  margin-bottom: 2vh;
}
#atmosphere {
  height: 4000px;
  width: 100vw;
  background: -moz-linear-gradient(top, rgba(0, 44, 99, 0) 0%, rgba(0, 44, 99, 0.16) 1%, rgba(3, 52, 112, 0.62) 4%, rgba(12, 74, 150, 0.88) 13%, #0e64b4 17%, #1292e8 24%, #35a2ea 37%, #35a2ea 99%, #35a2ea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 44, 99, 0)), color-stop(1%, rgba(0, 44, 99, 0.16)), color-stop(4%, rgba(3, 52, 112, 0.62)), color-stop(13%, rgba(12, 74, 150, 0.88)), color-stop(17%, #0e64b4), color-stop(24%, #1292e8), color-stop(37%, #35a2ea), color-stop(99%, #35a2ea), color-stop(100%, #35a2ea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 44, 99, 0) 0%, rgba(0, 44, 99, 0.16) 1%, rgba(3, 52, 112, 0.62) 4%, rgba(12, 74, 150, 0.88) 13%, #0e64b4 17%, #1292e8 24%, #35a2ea 37%, #35a2ea 99%, #35a2ea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 44, 99, 0) 0%, rgba(0, 44, 99, 0.16) 1%, rgba(3, 52, 112, 0.62) 4%, rgba(12, 74, 150, 0.88) 13%, #0e64b4 17%, #1292e8 24%, #35a2ea 37%, #35a2ea 99%, #35a2ea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 44, 99, 0) 0%, rgba(0, 44, 99, 0.16) 1%, rgba(3, 52, 112, 0.62) 4%, rgba(12, 74, 150, 0.88) 13%, #0e64b4 17%, #1292e8 24%, #35a2ea 37%, #35a2ea 99%, #35a2ea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 44, 99, 0) 0%, rgba(0, 44, 99, 0.16) 1%, rgba(3, 52, 112, 0.62) 4%, rgba(12, 74, 150, 0.88) 13%, #0e64b4 17%, #1292e8 24%, #35a2ea 37%, #35a2ea 99%, #35a2ea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00002c63', endColorstr='#35a2ea', GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  right: 0;
}
#shuttle {
  position: absolute;
  width: 20vw;
  height: 20vh;
}
#shuttleWrapper {
  z-index: 15;
  position: absolute;
  left: 40vw;
  bottom: 10vh;
  width: auto;
  height: 20vh;
}
/*#rocket1Wrapper{
    z-index:13;
    position: absolute;
    left:41vw;
    bottom: @earthHeight;
    height: 8vh;
    width: 5vw;
}

#rocket2Wrapper{
    z-index:13;
    position: absolute;
    left:50vw - (@shuttleWidth/2);
    bottom: @earthHeight;
    width: auto;
    height: @shuttleHeight;
}*/
#sideRocket1 {
  position: absolute;
  width: auto;
  height: 16vh;
  left: 8vw;
  bottom: 0;
}
#sideRocket2 {
  position: absolute;
  width: auto;
  height: 16vh;
  left: 10vw;
  bottom: 0;
}
#shuttleFire {
  z-index: 14;
  position: absolute;
  width: 2vw;
  height: 10px;
  background-color: red;
  left: 49vw;
  bottom: 9vh;
  opacity: 0;
}
#spaceStation {
  width: 40vw;
  height: 40vh;
  z-index: 15;
  position: absolute;
  left: 60vw;
  top: -50vh;
}
#issMessage {
  position: absolute;
  z-index: 10;
  width: 50vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 10vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#issMessage #issMessageTitle {
  font-size: 2em;
  margin-bottom: 20vh;
}
#sputnik {
  width: 25vw;
  height: 25vh;
  z-index: 15;
  position: absolute;
  left: 17.5vw;
  top: -50vh;
}
#sputnikMessage {
  position: absolute;
  z-index: 10;
  width: 50vw;
  height: 80vh;
  right: 10vw;
  margin-top: 10vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#sputnikMessage #sputnikMessageTitle {
  font-size: 2em;
  margin-bottom: 20vh;
}
#shipAndCable {
  width: 28vw;
  height: 28vh;
  z-index: 10;
  position: absolute;
  left: 70vw;
  top: 45.83333333vh;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
#astronaut {
  width: 35vw;
  height: 35vh;
  z-index: 15;
  position: absolute;
  left: 60vw;
  top: 55vh;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
#astronautMessage {
  position: absolute;
  z-index: 10;
  width: 30vw;
  height: 80vh;
  right: 10vw;
  margin-top: 20vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#monkey {
  width: 25vw;
  height: 25vh;
  z-index: 15;
  position: absolute;
  left: 1vh;
  top: 10vh;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
#monkeyMessage {
  position: absolute;
  z-index: 10;
  width: 30vw;
  height: 50vh;
  left: 10vw;
  margin-top: 50vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#moonSurface {
  z-index: 10;
  width: 100vw;
  position: absolute;
  bottom: -50vh;
  left: 0;
}
#moonMessage {
  position: absolute;
  z-index: 10;
  width: 50vw;
  height: 80vh;
  left: 10vw;
  margin-top: 10vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#moonMessage #moonMessageTitle {
  font-size: 2em;
  margin-bottom: 20vh;
}
#marsSurface {
  z-index: 10;
  width: 100vw;
  position: absolute;
  top: -70vh;
  left: 0;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
#marsMessage {
  position: absolute;
  z-index: 12;
  width: 50vw;
  height: 50vh;
  left: 25vw;
  margin-top: 75vh;
  color: whitesmoke;
  -ms-word-wrap: hyphenate;
  word-wrap: hyphenate;
  opacity: 0;
}
#marsMessage #marsMessageTitle {
  font-size: 5em;
  margin-bottom: 20vw;
}
.hidden {
  display: none;
}
/*# sourceMappingURL=space.css.map */