/*#region Stars Gradient Parameters*/
/*#endregion*/
body {
  margin: 0;
  /*-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
}
#outerWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#innerWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 15px;
}
#stars {
  height: 15000px;
  width: 100%;
  display: block;
  position: relative;
  /*#region Stars Gradient*/
  background-image: url('../assets/images/stars.png'), -moz-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -webkit-gradient(linear, left top, left bottom, color-stop(54%, #010c1e), color-stop(65%, #031433), color-stop(77%, #10274f), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background-image: url('../assets/images/stars.png'), -webkit-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -o-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), -ms-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-image: url('../assets/images/stars.png'), linear-gradient(to bottom, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  background-position: top center;
  background-repeat: repeat;
  /*#endregion*/
  overflow: hidden;
}
#content {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
}
.wrap {
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
#earth {
  z-index: 10;
  width: 100vw;
  height: 10vh;
  background-color: forestgreen;
  position: absolute;
  bottom: 0;
}
#atmosphere {
  height: 4000px;
  width: 100vw;
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0, rgba(30, 87, 153, 0.4) 14%, rgba(32, 94, 162, 0.79) 26%, #267bc7 42%, #2989d8 55%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(30, 87, 153, 0)), color-stop(5%, rgba(30, 87, 153, 0.4)), color-stop(14%, rgba(32, 94, 162, 0.79)), color-stop(26%, #267bc7), color-stop(42%, #2989d8), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0, rgba(30, 87, 153, 0.4) 14%, rgba(32, 94, 162, 0.79) 26%, #267bc7 42%, #2989d8 55%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0, rgba(30, 87, 153, 0.4) 14%, rgba(32, 94, 162, 0.79) 26%, #267bc7 42%, #2989d8 55%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0, rgba(30, 87, 153, 0.4) 14%, rgba(32, 94, 162, 0.79) 26%, #267bc7 42%, #2989d8 55%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0, rgba(30, 87, 153, 0.4) 14%, rgba(32, 94, 162, 0.79) 26%, #267bc7 42%, #2989d8 55%, #7db9e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  right: 0;
}
#shuttle {
  width: 20vw;
  height: 20vh;
}
#shuttleWrapper {
  z-index: 15;
  position: absolute;
  left: 40vw;
  bottom: 10vh;
  width: 20vw;
  height: 20vh;
}
#spaceStation {
  width: 40vw;
  height: 40vh;
  z-index: 15;
  position: absolute;
  left: 40vw;
  bottom: 30vh;
  width: 75vw;
}
/*#shuttle{
    z-index:15;
    position: fixed;
    left:50vw - (@shuttleWidth/2);
    bottom: 50vh;
    width: @shuttleWidth;
    height: @shuttleHeight;
}*/
#Right_rocket {
  z-index: 10;
  position: absolute;
  left: 50vw;
  bottom: 10vh;
  width: 10vw;
  height: 10vh;
}
#Left_rocket {
  z-index: 10;
  position: absolute;
  left: 70vw;
  bottom: 10vh;
  width: 10vw;
  height: 10vh;
}
/*#earth{
        z-index:10;
        width:100vw;
	    height:@earthHeight;
	    background-color:forestgreen;
        position:absolute;
		bottom:0;	 
}*/
/* SCROLLMAGIC */
.scroll-magic-section {
  height: 100%;
  position: relative;
}
.hidden {
  display: none;
}
/*# sourceMappingURL=space.css.map */