/*We bepalen de grootte via vmin: hij past zich aan aan de min grootte (width of heigth)
    Dit zowel voor de svgs als voor de tekst
*/
body {
  margin: 0;
  /* Reset Browser margins */
  height: 100%;
  width: 100vw;
  /* zelfde als hierboven */
  overflow-x: hidden;
  position: relative;
}
#spaceship {
  width: 15vw;
  position: absolute;
  bottom: 0px;
  left: 42.5%;
  user-select: none;
  z-index: 10;
}
#stars {
  width: 100%;
  display: block;
  background: #010c1e;
  /* Old browsers */
  background-image: url('../assets/images/stars.png'), -moz-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  /* FF3.6+ */
  background-image: url('../assets/images/stars.png'), -webkit-gradient(linear, left top, left bottom, color-stop(54%, #010c1e), color-stop(65%, #031433), color-stop(77%, #10274f), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background-image: url('../assets/images/stars.png'), -webkit-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url('../assets/images/stars.png'), -o-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  /* Opera 11.10+ */
  background-image: url('../assets/images/stars.png'), -ms-linear-gradient(top, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  /* IE10+ */
  background-image: url('../assets/images/stars.png'), linear-gradient(to bottom, #010c1e 54%, #031433 65%, #10274f 77%, #1e5799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c1e', endColorstr='#1e5799', GradientType=0);
  /* IE6-9 */
  background-position: top center;
  background-repeat: repeat;
}
#earth {
  height: 100px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}
.earthrainy {
  background-color: #010c1e;
}
.noselect * {
  user-select: none;
}
/* SCROLLMAGIC */
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  width: 100%;
}
#content-wrapper {
  height: 100%;
  min-height: 500px;
  width: 100%;
}
.scroll-magic-section {
  height: 100%;
  position: relative;
}
