html,body
{
    margin:0;     /* Reset Browser margins */
    height:100vh; /* Blijkbaar om bug in chrome te voorkomen */
    width:100vw;  /* zelfde als hierboven */
    overflow-x: hidden; 
}

#Earth_Content{
        width:100%;
	    height:10vh;
	    display:block;
	    background-color:forestgreen;
        position:relative;
        //bottom:0;
}

/*#StartPlatform{
    width:50vw;
    height:50vh;
    content: url('../images/stelling.svg');
    position:absolute;
    top:-45vh;
    left:40%;
}

#Spaceship{
    width:50vw;
    height:50vh;
    content: url('../images/spaceship.svg');
    position:absolute;
    top:-45vh;
    left:30%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}*/

#Earth_Sky{
    height:250vh;
    width:100%;
    display:block;
    left:0;  
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

#Earth_To_Space{
    height:150vh;
    width:100%;
    display:block;
    left:0;  

   background: -moz-linear-gradient(top,  rgba(16,39,79,0) 0%, rgba(16,39,79,0.07) 4%, rgba(16,39,79,0.12) 8%, rgba(17,44,86,0.23) 17%, rgba(28,79,141,1) 85%, rgba(30,87,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,39,79,0)), color-stop(4%,rgba(16,39,79,0.07)), color-stop(8%,rgba(16,39,79,0.12)), color-stop(17%,rgba(17,44,86,0.23)), color-stop(85%,rgba(28,79,141,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(16,39,79,0) 0%,rgba(16,39,79,0.07) 4%,rgba(16,39,79,0.12) 8%,rgba(17,44,86,0.23) 17%,rgba(28,79,141,1) 85%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(16,39,79,0) 0%,rgba(16,39,79,0.07) 4%,rgba(16,39,79,0.12) 8%,rgba(17,44,86,0.23) 17%,rgba(28,79,141,1) 85%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(16,39,79,0) 0%,rgba(16,39,79,0.07) 4%,rgba(16,39,79,0.12) 8%,rgba(17,44,86,0.23) 17%,rgba(28,79,141,1) 85%,rgba(30,87,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(16,39,79,0) 0%,rgba(16,39,79,0.07) 4%,rgba(16,39,79,0.12) 8%,rgba(17,44,86,0.23) 17%,rgba(28,79,141,1) 85%,rgba(30,87,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0010274f', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}

#Space{
    height:1100vh;
    width:100%;
    display:block;
    margin-bottom:-200vh;
    background: rgb(1,12,30); /* Old browsers */
    background-image: url('../images/stars.png') , -moz-linear-gradient(top,  rgba(1,12,30,1) 54%, rgba(3,20,51,1) 65%, rgba(16,39,79,1) 77%, rgba(30,87,153,1) 100%); /* FF3.6+ */
    background-image: url('../images/stars.png') , -webkit-gradient(linear, left top, left bottom, color-stop(54%,rgba(1,12,30,1)), color-stop(65%,rgba(3,20,51,1)), color-stop(77%,rgba(16,39,79,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
    background-image: url('../images/stars.png') , -webkit-linear-gradient(top,  rgba(1,12,30,1) 54%,rgba(3,20,51,1) 65%,rgba(16,39,79,1) 77%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url('../images/stars.png') , -o-linear-gradient(top,  rgba(1,12,30,1) 54%,rgba(3,20,51,1) 65%,rgba(16,39,79,1) 77%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
    background-image: url('../images/stars.png') , -ms-linear-gradient(top,  rgba(1,12,30,1) 54%,rgba(3,20,51,1) 65%,rgba(16,39,79,1) 77%,rgba(30,87,153,1) 100%); /* IE10+ */
    background-image: url('../images/stars.png') , linear-gradient(to bottom,  rgba(1,12,30,1) 54%,rgba(3,20,51,1) 65%,rgba(16,39,79,1) 77%,rgba(30,87,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010c1e', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

    background-position: top center;
    background-repeat: repeat;
}
